/*社区*/
.search-result{padding: 30px 0 55px;}
.search-show-left{float: left;width:74%;padding-bottom: 27px; background: #fff;}
.search-bar{float: right;width:25%;}
.repository-type .repository-label{}
.repository-type .repository-label>div{width:82%;padding:10px 0 10px 65px;background: #7a8ce3;}
.repository-type .repository-label>a{width:18%;text-align: center; background: #51525b;padding:10px 0;}
.repository-type .repository-label>a span{display: inline-block;width:13px;height:13px;margin-right:8px;line-height:10px;text-align:center;font-size:14px;color:#7a8ce3;border-radius:2px;border:1px solid #7a8ce3;}
.search-list-main{padding: 22px 65px 0;}
.search-list{margin-top:28px;padding-bottom: 30px;border-bottom: 1px solid #eaeef6;}
.search-list a{display: block; line-height: 25px; color: #4c4c4c;font-size: 16px;}
.search-list a.hover,.search-list a:hover{color:#7a8ce3;}
.search-list a img{margin-left:10px;vertical-align: -2.5px;}
.search-list p{margin:0 0 5px;line-height:20px;color: #b5b5b5;font-size: 12px;}
.search-list div{}
.search-list span{float: left;width:68px;height:28px;cursor:pointer;margin-right: 5px; text-align: center;line-height: 28px;border-radius: 5px;background: #f4f6fa;color: #7a8ce3;font-size: 12px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.search-page{margin: 30px 0 0 65px;}
.page-text.none{display: none;}
.documentation{margin-bottom: 5px;}
.search-bar-right{float:right;width:25%;}
.browse-record h3{margin-bottom: 15px; padding-bottom:20px;border-bottom:1px solid #eaeef6;color: #4c4c4c;font-size: 16px;font-weight: 600;}
.browse-list{margin-bottom: 26px;}
.browse-list a{line-height: 1.5;color: #4c4c4c;font-size: 14px;}
.browse-list a:hover{color: #7a8ce3;}
.browse-list div{margin-top:5px;}
.browse-list div span{float: left;float: left;width:68px;height:28px;margin-right: 5px; text-align: center;line-height: 28px;border-radius: 5px;background: #f4f6fa;color: #7a8ce3;font-size: 12px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.browse-record{padding: 30px 35px 10px;background: #fff;}
.recommend-list{margin-bottom: 15px;}
.recommend-list div{}
.recommend-list span{display: inline-block;vertical-align: middle;width:5px;height: 5px;margin-right:10px;border-radius: 50%;background: #7a8ce3;}
.recommend-list a{display: inline-block;vertical-align: middle; width:80%;color:#4c4c4c;font-size:14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.recommend-list a:hover{color: #7a8ce3;}
.recommend-list img{margin-left: 10px;}
.recommend-list p{margin-top:2px;padding-left:15px;color: #b5b5b5;font-size: 12px;}
.browse-recommend{margin-top:10px;}
.community-label>div{float: left;}
.community-label>div div{float:left;margin-right:12px;color: #fff;line-height: 32px;}
.community-label>div span{float:left;width:90px;height:32px;margin-right:5px;cursor: pointer; background:#90a0e7;color: #fff; line-height: 32px;border-radius:3px;text-align: center;    overflow: hidden;  padding: 0 3px;  text-overflow: ellipsis;  white-space: nowrap;}
.community-label>div span:hover{transition: all .5s; background: #fff;color: #90a0e7;}
.community-label a{float: right;line-height: 32px;color: #fff;}
.community-type .community-label>div{width:64%;padding:10px 0 10px 25px;background: #7a8ce3;}
.community-type .community-label>a{width:18%;text-align: center; padding:10px 0; }
.community-type .community-label>a.share:hover{background: #000000;}
.community-type .community-label>a.question:hover{background:#06075a;}
.community-type .community-label img{margin-right:10px;}
.share{background: #2e2f75;}
.question{background: #b34671;}
.community-list-main{padding: 48px 53px 0;}
.community-list{margin-bottom:26px;padding-bottom: 30px;border-bottom: 1px solid #eaeef6;}
.community-list h3{font-size:16px;font-weight:600;color:#4c4c4c;margin-bottom: 20px; display: inline-block}
.community-list p{}
.community-list h3:hover{color:#7a8ce3;cursor:pointer;}
.community-list h3 span{display: inline-block;max-width:72px;padding:0 5px;height:20px;overflow:hidden;padding:0 3px;text-overflow: ellipsis;white-space:nowrap;background: #7a8ce3;vertical-align:-3px;border-radius:3px;color: #fff;font-size: 12px; margin-left:5px;line-height: 20px;text-align: center;}
.community-answer{margin-bottom:15px;line-height: 25px;}
.community-answer span{display: inline-block;width:62px;height:22px;margin-right:10px;line-height: 22px;text-align: center;color: #fff;background: #65b963;}
.community-answer strong{font-weight:normal;}
.community-answer strong:hover{color:#7a8ce3;}
.community-answer a{color: #7a8ce3;}
.community-answer span,.community-answer strong{cursor: pointer;}
.community-answer a:hover{text-decoration: underline;}
.community-data{}
.community-data div{float: left;margin-right:25px;}
.community-data span{ color: #7a8ce3;line-height:22px;}
.community-data i{font-size:22px;color:#c9d2ea;vertical-align: -1px; margin-right: 6px; cursor: auto}
/*.community-data div:hover i{color: #7a8ce3;}*/
.more{text-align: center;color: #c6cfe9;}
.community-left{border-bottom: 5px solid #7a8ce3;}
.community-bulletin{background: #fff;}
.bulletin-head{width:100%;height:130px;padding-top:28px;background: url('../../images/app/bulletin.png') no-repeat center;background-size:100% auto;}
.bulletin-head>div{position: relative; float: left;width:33.333%;color:#fff;cursor:pointer;text-align: center;transition:all .5s;}
.bulletin-head>div div{font-size: 26px;margin-bottom:5px;font-weight: 600;}
.bulletin-head>div:hover{-webkit-transform:translateY(-5px);}
.bulletin-head>div h4{font-size: 14px;}

.bulletin-head>div:after{content:'';position: absolute;right:0;top:0;height:100%;width:3px;background: url('../../images/app/bulletin-line.png') no-repeat center;background-size: contain;}
.community-bulletin h3{padding:0 0 15px 0;margin:10px 0 0 35px;font-weight:500;font-size: 16px;color: #4c4c4c;border-bottom: 1px solid #eaeef6;}
.bulletin-main{padding: 20px 0 25px 32px;}
.bulletin-main p{margin-bottom:10px;color: #4c4c4c;}
.bulletin-main span{display: inline-block;width:6px;height:6px;border-radius: 50%;margin-right:10px;background:#9ba9ea;margin-bottom:2px;}
.integral{margin-top: 10px;padding:27px 0 27px 0;background:#fff;}
.integral>div:first-child{padding-left:32px;}
.integral .page a{font-size:12px;padding: 0 5px;}
.integral h3{padding-bottom: 20px;font-weight:500;font-size:16px;color:#4c4c4c;border-bottom: 1px solid #eaeef6;}
.integral table{width:100%;}
.integral table td{font-size:14px;}
.integral table thead td{line-height: 40px;color: #7a8ce3;text-align:center;}
.integral table thead td:first-child{text-align:left;}
.integral table tbody td{line-height: 16px;padding:5px 0;color: #4c4c4c;text-align:center;}
.integral table tbody td:first-child{text-align:left;}
.integral table span{display: inline-block;width:22px;height:22px;color:#4c4c4c;text-align: center;line-height: 22px;border-radius: 50%;}
.integral table tr span.color1{background:#e2c50f;color:#fff;}
.integral table tr span.color2{background:#7a8ce3;color:#fff;}
.integral table tr span.color3{background:#8ac788;color:#fff;}
.intelligent-search{position: relative;width:100%;height:68px;padding: 0 25px;line-height:68px;border-radius:5px;background: #fff;}
.intelligent-search i{font-size: 30px;color: #7a8ce3;}
.intelligent-search .icon-sousuo{float: left;cursor: pointer;}
.intelligent-search .icon-youjiantou1{float: right;cursor: pointer;}
.intelligent-search input{width:60%;float:left;margin-left:22px;line-height:68px;}
.intelligent-search input::-webkit-input-placeholder{font-size: 16px;}
