/*账号管理-权限设置*/
.message-notification{padding: 45px 55px 100px;}
.notification-title{font-size:0;padding-bottom: 26px;border-bottom: 1px solid #eaeef6;}
.notification-title img{margin-right:15px;}
.notification-title>span{display:inline-block;vertical-align: middle;font-weight: 500; font-size:16px;}
.notification-title>span a{color: #7a8ce3;}
.account-tab a{float: left;width:120px;height:40px;border:1px solid #7a8ce3;color:#4c4c4c;line-height: 35px;margin-right:6px;text-align: center;border-radius: 5px;}
.account-tab a.hover,.community-tab a:hover{background: #7a8ce3;color: #fff;}
.account-tab{margin:28px 0 30px;}
.account-tab img{margin-right:8px;}
.account-tab span{display: inline-block;vertical-align: middle;}
.books-table{margin-top: 24px;}
/*搜索框*/
.search-model{padding:0 30px;border:1px solid #c6cfe9;background: #fff; border-bottom:0;border-radius:5px 5px 0 0;margin-bottom:-1px;height:60px;line-height: 58px;}
.books-search{position: relative; float: left;}
.books-search i{float:left;margin-right:10px;font-size: 36px;color: #7a8ce3;}
.books-search input{float:left;width:175px;height: 58px;font-size: 16px;}
.books-search-time a{display:inline-block;margin-left:20px;width: 85px;height:33px;background: #7a8ce3;color: #fff;border-radius: 5px; text-align:center;line-height: 33px;font-size:14px;}
.books-search-time{float: right;margin-top:12.5px;}

.use-name{padding-left:30px;text-align: left;}
/*添加角色*/
.data-edit{position: absolute;right:18%;top:10%; width:700px;}
.data-edit-head{position: relative; padding: 0 20px;border-radius: 5px 5px 0 0; line-height: 50px;background: #7a8ce3;}
.data-edit-head div:first-child{float: left;font-size:16px;color: #fff;}
.data-edit-head div img{margin-right:8px;vertical-align: -3px;}
.data-edit-head>span{float: right;width:20px;cursor:pointer;text-align: right;color: #fff;}
.data-edit-head .export{position: absolute;right:50px;top:0;width:150px;height:100%;background: #65b762;  text-align: center; line-height: 50px;color: #fff;}
.data-edit-head .export img{vertical-align: -3px;}
.data-edit-main{padding: 30px 0 66px 66px;background: #fff;border-radius: 0 0 5px 5px;}
.data-edit-list{margin-bottom:6px;font-size: 0;}
.data-edit-list span{display: inline-block;vertical-align: middle;font-size: 14px;color: #4c4c4c;}
.data-edit-list div{position: relative; display: inline-block;vertical-align: middle;width:102px;height:102px;border-radius: 50%;}
.data-edit-list div input{position: absolute;left:0;top:0;width:100%;height:100%;cursor:pointer;opacity: 0;z-index: 100;}
.data-edit-list>input{vertical-align: middle;width:200px;height:36px;padding-left:18px;border:1px solid #c6cfe9;border-radius: 5px;}
.data-edit-main select{vertical-align: middle;width:200px;height:36px;padding-left:18px;background: url('../../images/app/select-icon.png') no-repeat 95% center; border:1px solid #c6cfe9;border-radius: 5px;}
.data-edit-img{margin-bottom:24px;}
.data-edit-main a{display: block;width:85px;height:35px;margin:27px 0 0 42px;background: #7a8ce3; border-radius:5px;color:#fff;line-height: 35px;text-align: center;}
.rule-edit-main{padding-bottom: 35px;background: #fff;border-radius:0 0 5px 5px;}
.rule-name{padding: 36px 0 30px;border-bottom:1px solid #ddd;text-align: center;}
.rule-name span{display: inline-block;vertical-align: middle;margin-right:15px;}
.rule-name input{width:480px;height:38px;text-indent:10px;border:1px solid #c6cfe9;border-radius: 5px;}
.rule-name input:focus{transition:all .5s;border:1px solid #7a8ce3;box-shadow: 0 0 3px #7a8ce3;}

.rule-jurisdiction{padding: 30px 0 0 60px;height: 450px;  overflow-y: auto;}
.rule-jurisdiction h3{margin-bottom:25px;color: #4c4c4c;}
.rule-list{margin-bottom: 15px;}
.rule-list label{position: relative; display: inline-block;margin-right:10px;}
.rule-list input{position:absolute;left:-9999px;top:0;opacity: 0;}
/*.rule-list i{color: #7a8ce3;font-size:20px;margin-right:6px;}*/
.rule-list span{display:inline-block;vertical-align: top;line-height: 20px; color: #4c4c4c;}
/*.rule-list i:after{content:'\e604';}*/
.rule-list input:checked+i:after{content: "\e64f";}
.child-rule-list{margin:26px 0 26px;padding-left:30px;}
.child-rule-list div{margin-bottom: 15px;}
.rule-jurisdiction>a{display: block;width:217px;height:42px;margin-left:26px;border-radius:5px;line-height: 42px;text-align: center;background: #7a8ce3;color: #fff;}

.child-rule-list label{margin-bottom: 8px;}
.books-page{margin-top:28px;text-align: center;}
.rule-jurisdiction ul li.checkedi>label>i:before{
    content: "\e64f";
}
.rule-jurisdiction ul li>label>i:before{
    content:'\e604';
    color: #7a8ce3;
    font-size:20px;
    margin-right:6px;
}
.rule-jurisdiction ul li input:focus{
    transition: none;
    border: none;
    box-shadow: none;
}

.btn-more{
    width: 15px;
    height: 18px;
    text-align: left;
    cursor: pointer;
}

.rule-list1 li{
    padding: 3px 0;
    font-size: 0;
}
.rule-list1 span{
    font-size: 14px;
}
.rule-list1 .rule-list2{
    padding-left: 20px;
}
.rule-list1 .rule-list3{
    padding-left: 20px;
}
.rule-list1 .rule-list4{
    padding-left:20px;
}
.morehide{
    visibility: hidden;
}
.rule-jurisdiction label{position: relative; display: inline-block;margin-right:10px;}

.rule-jurisdiction span{display:inline-block;vertical-align: top;line-height: 20px; color: #4c4c4c;}
.rule-jurisdiction input:checked+i:after{content: "\e64f";}
.child-rule-list{margin:26px 0 26px;padding-left:30px;}
.child-rule-list div{margin-bottom: 15px;}
.rule-jurisdiction>a{display: block;width:217px;height:42px;margin-left:26px;border-radius:5px;line-height: 42px;text-align: center;background: #7a8ce3;color: #fff;}

